.recolor{
    background-color: #000000;
    color: #ffffff;
}
.form{
    /*show over #app*/
    position: absolute;
    margin: 25px;
}
.form input[type="submit"]:hover{
    background-color: #ff9900;
    color: #000000;
    /*add inner shadow*/
    box-shadow: 0 0 5px #ff9900;
}